<header>
	<!-- Logo Container -->
	<div class="header-section">
		<h3><a href="{{ site.baseurl }}/" class="logo">{{ site.title | escape }}</a></h3>
	</div>

	<!-- Navigation Links -->
	<div class="header-section">
		<ul>
			<li>
				<h6><a href="{{ site.baseurl }}/explore">Explore</a></h6>
			</li>
			<li>
				<h6><a href="{{ site.baseurl }}/archive">Archives</a></h6>
			</li>
			<li>
				<h6><a href="{{ site.baseurl }}/search">Search</a></h6>
			</li>
			<li>
				<h6><a href="{{ site.baseurl }}/about">About</a></h6>
			</li>
		</ul>
	</div>
</header>
